<div class="modal fade" id="assignAuthorModal" tabindex="-1" role="dialog" 

     aria-labelledby="assignAuthorModalTitle" aria-hidden="true"> 

    <div class="modal-dialog modal-dialog-centered modal-lg"> 

        <div id="mainContent" class="modal-content"> 

            <div class="modal-header"> 

                <h5 class="modalTitle" id="assignAuthorModalTitle">Choose an Author:</h5> 

                <button type="button" class="btn-close" 

                        data-bs-dismiss="modal" aria-label="Close"> 

                </button> 

            </div> 

 

            <div class="modal-body"> 

            </div> 

 

            <div class="modal-footer"> 

                <button id="btnAssignAuthorClose" class="btn btn-primary">Close</button> 

            </div> 

        </div> 

    </div> 

</div> 