@*
Partial: Author list table for Assign Author modal
*@
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Author's Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="authorTableBody">
    </tbody>
</table>
